
# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/

.ipynb_checkpoints
.idea/

PyEpiDAG.egg-info/
epidag/__pycache__/
epidag/bayesnet/__pycache__/
epidag/causality/__pycache__/
epidag/factory/__pycache__/
epidag/fitting/__pycache__/
epidag/simulation/__pycache__/
epidag/fitting/alg/__pycache__/
